<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layouts/_mainLayout">

<head>
    <title>Editar docente</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <h1>Editar docente</h1>
        <form th:action="@{/Docentes/save}" th:object="${docente}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Escriba el nombre del docente" th:field="*{nombre}" required>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Escriba el apellido del docente" th:field="*{apellido}" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Escriba el email del docente" th:field="*{email}" required>
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" placeholder="Escriba el teléfono del docente" th:field="*{telefono}" required>
            </div>

            <div class="form-group">
                <label for="escuela">Escuela</label>
                <input type="text" class="form-control" id="escuela" placeholder="Escriba la escuela del docente" th:field="*{escuela}" required>
            </div>

            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
                <a th:href="@{/Docentes}" class="btn btn-outline-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>