<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Estudiantes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div layout:fragment="content" class="container mt-4">
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
            title: "Confirmación",
            text: '[[ ${msg} ]]',
            icon: "success"
            });
        </script>
    </div>

    <div th:if="${error != null}">
        <script>
            Swal.fire({
            title: "Error",
            text: '[[ ${error} ]]',
            icon: "error"
            });
        </script>
    </div>

    <h1 class="mb-4">Estudiantes</h1>

    <a th:href="@{/Estudiantes/create}" class="btn btn-primary mb-3">Crear nuevo estudiante</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Pin</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${estudiantes}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.pin}"></td>
            <td>
                <a th:href="@{/Estudiantes/details/{id}(id=${item.id})}" class="btn btn-info btn-sm">Ver</a>
                <a th:href="@{/Estudiantes/edit/{id}(id=${item.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/Estudiantes/remove/{id}(id=${item.id})}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav class="Page navegation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumber}">
                <a class="page-link" th:href="@{|/Estudiantes?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>

    <a th:href="@{/}" class="btn btn-outline-primary">Volver al inicio</a>

</div>

</html>